body {
    background-color: black;
    margin: 0; 
}

header {
    background-color: black;
    color: white;
    padding: 10px;
    border-bottom: 2px solid rgba(255, 0, 0, 0.685);
}

main {
    padding: 20px; 
}

h1 {
    color: rgb(196, 196, 196);
    font-family: "Roboto", sans-serif;
    font-weight: 140;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: black; 
    color: white;
    padding: 10px;
}

