header {
    position: sticky;
    top: 0;
    background-color: black;
    color: white;
    padding: 20px;
    border-bottom: 2px solid rgba(255, 0, 0, 0.685);
    z-index: 2;
}

main {
    z-index: 1;
}

.navbar {
    background-color: black !important;
    text-align: center;
    margin-left: 35px;
}

.navbar a {
    color: white !important; 
}

.navbar-nav li {
    margin-right: 120px; 
} 


header h1 {
    text-align: center;
    font-size: 30px;
}

body {
    background-color: black;
    margin: 0;
    padding: 0;
}

h1 {
    color: rgb(196, 196, 196);
    font-family: "Roboto", sans-serif;
    font-weight: 400; 
    margin-top: 20px;
    text-align: center;
}

.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.content img {
    width: calc(33.33% - 20px);
    margin: 10px;
    max-height: 45vh;
    object-fit: cover;
}

