body {
    background-color: black;
    margin: 0;
    padding: 0;
}

header {
    position: sticky;
    top: 0;
    background-color: black;
    color: white;
    padding: 30px;
    border-bottom: 2px solid rgba(255, 0, 0, 0.685);
    z-index: 2;
}


main {
    z-index: 1;
}

.navbar {
    background-color: black !important;
    text-align: center;
    margin-left: 35px;
    font-size: 15px;
}

.navbar a {
    color: white !important; 
}

.navbar-nav li {
    margin-right: 120px; 
} 


header h1 {
    text-align: center;
    font-size: 30px;
}

h1 {
    color: rgb(196, 196, 196);
    font-family: "Roboto", sans-serif;
    font-weight: 140; 
    font-size: 25px; 
    margin-bottom: 0%;
}


#sushi_salad,
#sashimi,
#nigiris {
    color: white;
    text-align: center;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
}

.card {
    background-color: black;
    width: calc(20% - 15px);
    margin-inline: 80px;
    margin-bottom: 20px;
}


.card-img-top {
    max-width: 100%;
}

.card-title {
    text-align: center;
    font-family: "Roboto", sans-serif;
    color: white;
    font-size: 14px;
}

.precios .list-group-item {
    background-color: rgb(196, 196, 196);
    color: black;
    padding: 4px; 
    border: none;
    text-align: center;
    font-size: 12px;
    margin: 0;
    display: block; 
    width: 100%; 
}

.precios .botonAgregar{
    background-color: rgb(196 * 0.6, 196 * 0.6, 196 * 0.6);;
    color: black;
    padding: 4px; 
    border: none;
    text-align: center;
    font-size: 12px;
    margin: 0;
    display: block; 
    width: 100%; 
}

.content {
    display: flex;
    align-items: center;
}

.content img {
    margin-right: 20px;
}

.productos1,
.productos2,
.productos3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

@media screen and (max-width: 767px) {
    #sushi_salad,
    #sashimi,
    #nigiris,
    #logos,
    #productos1,
    #productos2,
    #productos3 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 8px;
    }

    .card-title {
        font-size: 10px;
    }
}


footer {
    position: sticky;
    top: 0;
    background-color: black;
    color: rgb(196, 196, 196);
    padding: 20px;
    border-top: 2px solid rgba(255, 0, 0, 0.685);
    z-index: 2;
}

h3 {
    color: rgb(196, 196, 196);
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    margin-top: 10px;
    text-align: center;
}

footer {
    background-color: black;
    padding: 20px;
    color: rgb(196*1.2, 196*1.2, 196*1.2);
    text-align: center; 
}

.header-content {
    display: flex;
    justify-content: center; 
    align-items: center;
    font-family: "Roboto", sans-serif; 
}

.carrito {
    border: 2px solid rgba(255, 0, 0, 0.685);
    padding: 10px;
    text-align: center;
    width: 400px; 
    font-size: 12px;
}

.carrito h3 {
    color: rgb(196, 196, 196);
    font-size: 16px;
}

.lista-carrito {
    list-style: none;
    padding: 0;
}

#total-carrito {
    font-weight: bold;
    color: red; 
}

form input[type="button"] {
    background-color: black;
    color: rgb(196, 196, 196);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
}