body {
    background-color: black;
    margin: 0;
    color: white; /* Agregar color de texto predeterminado para todo el cuerpo */
}

header {
    background-color: black;
    color: white;
    padding: 10px;
    border-bottom: 2px solid rgba(255, 0, 0, 0.685);
}

main {
    padding: 20px;
    color: white; /* Agregar color de texto predeterminado para el contenido principal */
}

.navbar {
    background-color: black !important;
    text-align: center;
    margin-left: 35px;
}

.navbar a {
    color: white !important;
}

.navbar-nav li {
    margin-right: 120px;
}

h1 {
    color: rgb(196, 196, 196);
    font-family: "Roboto", sans-serif;
    font-weight: 400; /* Cambiar el valor de font-weight a un valor común */
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: rgb(196, 196, 196);
    padding: 10px;
}

/* Estilos para el formulario */
form {
    background-color: black;
    padding: 20px;
    border: 2px solid rgba(255, 0, 0, 0.685); /* Agregar un borde rojo de 2 píxeles */
    text-align: center;
    max-width: 400px;
    margin: 0 auto;
    border-radius: 5px; /* Agregar bordes redondeados para suavizar la apariencia */
}


/* Estilos para los campos del formulario */
form label {
    display: block;
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    margin-bottom: 5px;
    color: rgb(196, 196, 196);
}

form input[type="text"],
form input[type="date"],
form input[type="email"],
form select {
    width: 100%;
    padding: 10px;
    border: 1px solid rgb(196, 196, 196);
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 10px;
}

/* Estilo para el botón del formulario */
form input[type="button"] {
    background-color: rgb(196, 196, 196);
    color: black;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
}
