/* PARA LA COMPUTADORA */
@media (min-width: 768px) {
    .content img {
        margin: 0; 
        width: 33.33%; 
        height: 100vh; 
    }
}

/* PARA LOS TELEFONOS */
@media (max-width: 375px) {
    .content img {
        margin: 0; 
        width: 100%; 
        height: auto; 
        display: block; 
    }
}


body {
    background-color: rgb(14, 13, 13);
}

header {
    position: sticky;
    top: 0;
    background-color: black; 
    color: white;
    padding: 10px;
    border-bottom: 2px solid rgba(255, 0, 0, 0.685);
}

footer {
    position: sticky;
    top: 0;
    background-color: rgb; 
    padding: 10px;
}

.navbar {
    background-color: black !important;
    text-align: center;
    margin-left: 35px;
}

.navbar a {
    color: white !important; 
}

.navbar-nav li {
    margin-right: 120px; 
} 


h1 {
    color: rgb(196, 196, 196);
    font-family: "Roboto", sans-serif;
    font-weight: 140; 
    margin-top: 20px; 
}

h2 {
    color: rgb(196, 196, 196);
    font-family: "Roboto", sans-serif;
    font-weight: 100; 
    font-size: 12px;
}

h3 {
    color:rgb(196, 196, 196);
    font-family: "Roboto", sans-serif;
    margin: 10px;
}


.content {
    display: flex;
    flex-grow: 1;
}

.content img {
    margin: 0; 
    width: 33.33%; 
    height: 100vh; 
}






